.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* Timeline position */
  margin: 40px;
}

/* Line */

.timeline-line_container {
  background-color: lightgray;
  content: "";
  position: absolute;
  left: -2px;
  width: 4px;
  height: 100%;
}

.timeline-line_fill {
  background-color: purple;
}
